@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #17828A;
  --secondary: #39C1CB;
  --ochean: #00A8C7;
  --marine: #329095;
  --palmtree: #A2CE51;
  --black: #041718;
  --white: #F5F5F5;
  --success: #7BB32E;
  --warning: #FFD300;
  --error: #E74C3C;

  --mainFont: 'Montserrat', sans-serif;
  --secondaryFont: 'GFS Didot', serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--mainFont);
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    background-color: var(--white);
    color: var(--black);
    font-size: 18px;
    max-width: 100%;
  }
  
  main {
    width: 100%;
    position: relative;
    min-height: 90vh;
      display: flex;
      flex-direction: column;
  }
  
  button {
    font-family: var(--mainFont);
    cursor: pointer;
    outline: none;
    border: none;
  }
  
  a {
    text-decoration: none;
    color: var(--palmtree);
      font-weight: 600;
    }
    
        input,
        textarea {
      border: none;
      outline: none;
  }
  
  h1 {
    font-family: var(--secondaryFont);
    font-size: 3rem;
    font-weight: 400;
    color: var(--black);
    margin: 0;
  }
  
  h2 {
    font-family: var(--mainFont);
    font-size: 2rem;
    font-weight: 400;
    color: var(--palmtree);
    margin: 0;
  }
  
  h3 {
    font-family: var(--secondaryFont);
    font-size: 2rem;
    font-weight: 400;
    color: var(--black);
    margin: 0;
  }
  
  h4 {
    font-family: var(--secondaryFont);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--black);
    margin: 0;
  }
  
  h5 {
    font-family: var(--mainFont);
    font-size: 1rem;
    font-weight: 400;
    color: var(--white);
    margin: 0;
  }
  
  h6 {
    font-family: var(--mainFont);
    font-size: 1rem;
    font-weight: 400;
    color: var(--black);
    margin: 0;
}

p {
  font-family: var(--mainFont);
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  margin: 0;
}

